/* Modal */
.modal-full-custom.modal-dialog{
	width: 60% !important;
}

.modal-dialog .modal-content {
    border-radius: 25px !important;
}

.modal-dialog .modal-header {
    padding: 30px 40px 10px 40px;
    border: unset !important;
}

.modal-dialog .modal-body{
	padding: 10px 40px 10px 40px;
}

.modal-dialog .modal-footer{
	padding: 10px 40px 30px 40px;
    border: unset !important;
}

.modal-header>h4.modal-title {
    font-size: 20px !important;
    text-transform: capitalize;
}

.modal-dialog .modal-footer{
	text-align: left !important;
}

label.control-label {
    padding-bottom: 10px;
    text-align: left !important;
}

.form-group .form-control.input-circle {
    border-radius: 10px !important;
}

.modal-footer>button.btn.blue,
.modal-footer>button.btn.red-border {
    padding: 7px 30px;
    border-radius: 10px !important;
}

.modal-footer>button.btn.red-border{
	background-color: #fff;
    color: #D51414;
    border: 1px solid #D51414;
}

/* End Modal */

.footer-logo>img {
    width: 170px;
}

.topnav a.disable-target:hover{
    border-bottom: unset !important; 
}

.navbar-default .navbar-nav>li>a.disable-target{
    color: #818893 !important;
}

.navbar-default .navbar-nav>li>a.disable-target:hover {
    cursor: not-allowed !important;
}

.portlet.box.blue-madison {
    padding: 3em !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border:unset !important;
}

.portlet > .portlet-body.blue-madison, .portlet.blue-madison,
.portlet.box.blue-madison > .portlet-title {
    background-color: #fff !important;
}

.portlet.box.blue-madison > .portlet-title > .caption {
    color: #333;
}