/* Modal */
.modal-full-custom.modal-dialog{
	width: 60% !important;
}

.modal-dialog .modal-content {
    border-radius: 25px !important;
}

.modal-dialog .modal-header {
    padding: 30px 40px 10px 40px;
    border: unset !important;
}

.modal-dialog .modal-body{
	padding: 10px 40px 10px 40px;
}

.modal-dialog .modal-footer{
	padding: 10px 40px 30px 40px;
    border: unset !important;
}

.modal-header>h4.modal-title {
    font-size: 20px !important;
    text-transform: capitalize;
}

.modal-dialog .modal-footer{
	text-align: left !important;
}

label.control-label {
    padding-bottom: 10px;
    text-align: left !important;
}

.form-group .form-control.input-circle {
    border-radius: 10px !important;
}

.modal-footer>button.btn.blue,
.modal-footer>button.btn.red-border {
    padding: 7px 30px;
    border-radius: 10px !important;
}

.modal-footer>button.btn.red-border{
	background-color: #fff;
    color: #D51414;
    border: 1px solid #D51414;
}

/* End Modal */

.btn.btn-xs {
    padding: 3px 10px;
    border-radius: 5px !important;
}

.footer-logo>img {
    width: 170px;
}

.topnav a.disable-target:hover{
    border-bottom: unset !important; 
}

.navbar-default .navbar-nav>li>a.disable-target{
    color: #818893 !important;
}

.navbar-default .navbar-nav>li>a.disable-target:hover {
    cursor: not-allowed !important;
}

.portlet.box.blue-madison {
    padding: 2em 3em !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border:unset !important;
}

.portlet > .portlet-body.blue-madison, .portlet.blue-madison,
.portlet.box.blue-madison > .portlet-title {
    background-color: #fff !important;
}

a,
.portlet.box.blue-madison > .portlet-title > .caption {
    color: #333;
}

/* loading spinner */
.nav-tabs>li.active>a,
span.badge.badge-success,
.loading-message>.block-spinner-bar>div {
    background: #8023B4;
}

/* Button */

.table-hover>tbody>tr:hover{
	background: unset;
}

button.btn.default.dropdown-toggle {
    background: #F5F8FA;
    border-radius: 5px !important;
    margin-bottom: 5px;
}

td>.btn.blue {
    color: #009EF7 !important;
    background-color: #F5F8FA !important;
}

td>.btn.green {
    color: #15BA6B !important;
    background-color: #F5F8FA !important;
}

td>.btn.orange {
    color: #FF8459 !important;
    background-color: #F5F8FA !important;
}

td>.btn.red {
    color: #D51442 !important;
    background-color: #F5F8FA !important;
}

td>.btn.yellow {
    color: #FF8459 !important;
    background-color: #F5F8FA !important;
}

/* Tabs Nav */
.nav-tabs{
	display: inline-block;
    background: #fff;
    border-radius: 10px !important;
    border-bottom: unset;
}

.nav-tabs>li.active>a {
    color: #fff;
}

li.active span.badge.badge-success {
    background: #fff;
    color: #8023B4;
    font-weight: 700;
}

.nav-tabs>li.active>a:focus {
    background-color: #ddd;
}

ul.nav.nav-tabs>li:first-child>a {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

ul.nav.nav-tabs>li:last-child>a {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* Search Table */

.row.search-form-default {
    margin-bottom: 20px;
}

.row.search-form-default>div {
    padding: 0px;
}

form#sobad-search div.input-cont>input {
    border-top: 1px solid #dfdfdf;
    border-radius: 10px 0px 0px 10px !important;
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

button.btn.sasi-btn-search.dropdown-toggle {
    border-radius: 0px 10px 10px 0px !important;
}